#pragma once

struct  tagSsidInfo{
    String ssid;
    String pswd;
} ClientSsidInfo[] = {
    { "your-ssid1",  "your-password1"},
    { "your-ssid2",  "your-password2"},
};

#define SIZE_OF_SSIDINFO (sizeof(ClientSsidInfo)/sizeof(ClientSsidInfo[0]))
